Checks: >
  *,
  -abseil-*,
  -altera-*,
  -android-*,
  -boost-*,
  -darwin-*,
  -fuchsia-*,
  -linuxkernel-*,
  -llvm-*,
  -llvmlibc-*,
  -mpi-*,
  -openmp-*,
  -zircon-*,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: '*'
FormatStyle: none
